
.mainLink-list{
    display: flex;
    justify-content: space-evenly;
}


.mainLink{
    color: violet;
    background-color: black;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}
    .mainLink img{
    width: 250px;
    height: 160px;
}
    .mainLink p{
        
    }
.mainLink:hover{
    transition: .5s;
    transform: scale(1.1);
    background-color: rgb(94, 33, 94);
cursor: pointer;
box-shadow: 10px 10px 10px 5px rgb(212, 141, 212);
}


.main-text{
text-align: center;
font-size: 80px;

}
.rectangle{
    height: 5px;
    width: 60px;
    background-color: teal;
    margin: 50px auto;
    
    
}