<div class="mainLink-list">
    <div class="mainLink"routerLink="work">
        <img src="assets\tõõ.jpg">
        <p>Tööde lehele</p> 
    </div>
    <div class="mainLink"routerLink="hobbies">
        <img src="assets\hobi.jpg">
        <p>Hobide lehele</p>      
    </div>
    <div class="mainLink"routerLink="courses">
        <img src="assets\kursused.jpg">
        <p>Kursuste lehele</p> 
    </div>
</div>
    
<div class ="rectangle"></div>
    
<div class="content">

<div>

<p class="main-text">Tere tulemast minu lehele!</p>




