.tooted {
    display: flex;
    flex-wrap: wrap;
    padding-left: 250px;

}

.toode {
width: 300px;
margin: 5px;
background-color: white;
padding: 10px;
border-radius: 10px;
transform: scale(1.0);
transition: .5s;
border: 1px solid lightgray;
height: 470px;
}

.toode:hover {
   /* box-shadow: 0 10px 10px 10px rgb(7, 7, 7, 0.35);
    transform: scale(1.1);
    transition: .5s;
    cursor: zoom-in*/
}

.toode:hover img {
    /*transform: scale(1.1);
    transition: .5s;*/

}

.toode img {
 width: 220px;
 height: 220px; 
 padding: 40px;  
}

.price {
    position: absolute;
    bottom: 10px;
}
.lisa-nupp {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #299bdb;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    
}

.tyhimik {
    height: 30px;
}
@media (max-width: 1050px) {
    .tooted {
        padding-left: 20px;
    }
    .toode {
        width: 90%;
    }
}