.navriba {
    height: 100px;
    width: 100%;
    background-color: #299bdb;
    opacity: 1.0;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    z-index: 1;
    color: white;
   
}

.navbar-alumine {
    margin-top: 68px;
    height: 68px;
    width: 100%;
    background-color: white;
    opacity: 1.0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    position: fixed; 
    z-index: 1;
    color: grey; 
    font-weight: 600;
    box-shadow: 0 5px 10px 5px rgb(7, 7, 7, 0.35);

}

.logo {
    height: 90px;
    width: 150px;
    margin: -5px;
    cursor: pointer;
}

 .navriba-lingid {
     display: flex;
     margin-right: 0px;
      }

 .navriba-lingid div {
          margin: 25px;

      }
 .navriba-lingid div:hover {
       /* text-decoration: underline;*/
        cursor: pointer;
        color: #299bdb;

    }

 .navriba-lingid img {
     height: 19px;
     width: 19px;
     filter: invert(58%) sepia(0%) saturate(0%) hue-rotate(344deg) brightness(86%) contrast(80%);
     display: relative;
 }

  .navriba-lingid span {
      position: relative;
      top: -4px;
      left: 5px;
  }
  .navriba-lingid div:hover img {
    filter: invert(40%) sepia(100%) saturate(358%) hue-rotate(165deg) brightness(89%) contrast(91%);
  }
     @media (max-width: 1200px) {
    .navriba-lingid div {
     margin: 25px 10px;   
     }
}
     @media (max-width: 1000px) {
    .navriba-lingid span, .ostukorv-nupp span {
     display: none;   
     }
    .navriba-lingid div {
        margin: 0;
    }
    .navriba-lingid img {
        height: 40px;
        width: 40px;
        margin: 14px;
    }

    
   .ostukorv-nupp {
       height: 40px;
       width: 40px;
       border-radius: 50px;
   }
   .ostukorv-nupp img {
       position: relative;
       right: 10px;
   }
}
@media (max-width: 600px) {
    .navriba-lingid img {
     margin: 14px 10px;   
     }
}
  
   .toodete-arv {
    background-color: #d6743d;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 15px;
}
.ostukorv-nupp {
    background-color: rgb(202, 97, 28);
    color: white;
    cursor: pointer;
    margin: 10px;
    opacity: 0.7;
    top: -10px;
    border-radius: 40px;
    letter-spacing: .1px;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    
}
.ostukorv-nupp:hover {
    background-color:rgb(180, 83, 66); ;
}
/* .ostukorv:hover {
    opacity: 1.0;
    background-color:  */

.tooted {
    margin: 35px;
}
.uudised {
    margin: 35px;
}
.kontakt {
    margin: 35px;
}
.ostukorv-nupp img {
    height: 19px;
     width: 19px;
     filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(109%) contrast(101%);
     display: relative;
}
.ostukorv-nupp span {
    position: relative;
    top: -3px;
    left: 5px;
}