<div class="container">
    <div class ="navbar" id ="navID">
          
        <ul class="side-nav">
            
            <li class="nav-item">
                <a class="active" href="#" class="site-name">Kodu Kuld</a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">Kullast uudised</a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">Kuldne Kontakt</a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">Kulda Meile</a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">Kulla Hind Täna</a>
            </li>
            <li class="nav-item">
                <a href="#" target="_blank" class="nav-link">Kulla Omadused</a>
            </li>
           
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
          
        </ul>

    </div>
</div>