  <div class="jalus">
    <!-- <div class="firmast">Firmast</div>
    <div class="kontakt">Kontakt</div>
    <div class="müügitingimused">Müügitingimused</div> -->
    <div>
      <span class="footer-text">@2020 eGolden.ee </span>
      <span class="footer-text">Klienditugi: +372 661 3014</span>
      <span class="footer-text">epood@egolden.ee</span>
       </div>
    <div>
      <span class="footer-link"> Firmast </span>
      <span class="footer-link"> Kontakt </span>
      <span class="footer-link"> Müügitingimused </span>
      
    </div>
    
</div>